  @import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Kumbh+Sans:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: #f4f6f8;
}

.myApp {
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}

.fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

.headerContent {
  color: #fff;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 7rem;
  margin-bottom: 4rem;
  background-color: #5964E0;
}

.headerContent {
  width: 80%;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.joblist {
  width: 90%;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0 auto;
  padding: 2rem;
}

.jobsContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  height: fit-content;
  height: -moz-fit-content;
  padding: 3.5rem 2.2rem 2.8rem;
  border-radius: 0.5rem;
}

.jobs {
  display: grid;
  gap: 1rem;
  cursor: pointer;
}

.jobsContent:hover {
  box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
  -webkit-box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
  -moz-box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
}

.logo {
  width: 3.4rem;
  height: 3.3rem;
  padding: 1rem 0.7rem;
  border-radius: 0.9rem;
  display: block;
  position: relative;
  top: 1.7rem;
  left: 2.3rem;
}

.timePosted {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  color: #6E8098;
}

.position {
  font-weight: 700;
  font-size: 1.25rem;
}

.location {
  font-weight: 700;
  font-size: 0.86rem;
  color: #5964E0;
  padding-top: 1.8rem;
}

.buttonContainer {
  margin: 0 auto;
  margin-top: 4rem;
  width: 8.81rem;
  height: 3rem;
}

.loadMore {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #fff;
  line-height: 1.24rem;
  font-weight: 700;
  background-color: #5964E0;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.loadMore:hover {
  border: 0.1rem solid #5964E0;
  background-color: #fff;
  color: #5964E0;
}

/* details component settings */

.jobsContentD {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  height: fit-content;
  height: -moz-fit-content;
  padding: 3.5rem 2.2rem 2.8rem;
  border-radius: 0.5rem;
  box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
  -webkit-box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
  -moz-box-shadow: 2px 6px 13px 7px rgba(219,213,213,0.75);
}

.topCompLabel {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.downCompLabel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 1rem;
}

.logoD {
  width: 5.6rem;
  height: 5.3rem;
  padding: 1rem 0.7rem;
  border-radius: 0.9rem;
  display: block;
  position: relative;
  top: 2.5rem;
  left: 2.3rem;
}


/* tablet settings */

@media (min-width: 690px) and (max-width: 908px) {
  .jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}


/* desktop settings */

@media (min-width: 909px) {
  .jobs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}